<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#455A64">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <img src="/images/logo3.png" alt=""  class="d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item ">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Choose service
                        </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/trips">Trips</a></li>
                        <li><a class="dropdown-item" href="/foods">Food services</a></li>
                        <li><a class="dropdown-item" href="/educations">Educational services</a></li>
                        <li><a class="dropdown-item" href="/craftsmen">Craftsmen services</a></li>
                    </ul>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            History
                        </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/user/history-trips">Trip services</a></li>
                        <li><a class="dropdown-item" href="/user/history-foods">Food services</a></li>
                        <li><a class="dropdown-item" href="/user/history-educations">Educational services</a></li>
                        <li><a class="dropdown-item" href="/user/history-craftsmen">Craftsmen services</a></li>
                    </ul>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Current
                        </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/user/current-trips">Trip services</a></li>
                        <li><a class="dropdown-item" href="/user/current-foods">Food services</a></li>
                        <li><a class="dropdown-item" href="/user/current-educations">Educational services</a></li>
                        <li><a class="dropdown-item" href="/user/current-craftsmen">Craftsmen services</a></li>
                    </ul>
                    </li>
                </ul>
            </div>

            <ul class="nav navbar-nav navbar-right justify-content-center">

                <li class="nav-item" sec:authorize="isAuthenticated()" style="padding-right: 10px;">
                    <a class="nav-link active" href="/user">
                        Hello <th:block th:if="${#request.getRemoteUser()!=null}" th:text="${#request.userPrincipal.name}"/>!
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')" style="padding-right: 10px;">
                    <a class="btn btn-light btn-sm active ml-3" href="/admin">
                        <i class="fa fa-tools"></i>Manage
                    </a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()" style="padding-right: 10px;">
                    <a class="btn btn-light btn-sm ml-3" href="/logout">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()" style="padding-right: 10px;">
                    <a class="btn btn-light btn-sm ml-3" href="/login">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</header>

