<section xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card my-5">
                    <div class="card-body">
                        <form action="/trips/add-passenger" method="POST">
                            <h4 class="card-title text-center h5" style="font-weight: bolder">
                                Add passenger:
                            </h4>
                            <hr>
                            <input type="hidden" name="tripId" th:value="${tripId}">
                            <select name="passengerId">
                                <option th:each="user : ${allUsers}"
                                        th:value="${user.getId()}"
                                        th:text="${user.getFullname()}">
                                </option>
                            </select>
                            <br>
                            <br>
                            <button id ="submit" type="submit" class="btn btn-primary">Submit</button>
                            <a type="button" class="btn btn-primary" href="/trips">Back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>