
<section xmlns:th="http://www.thymeleaf.org">
    <div th:if="${hasError}">
        <div th:text="${error}" class="text-danger"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form id="form" action="/educations/add" method="POST">
                    <input type="hidden" name="id" th:value="(${service} != null ? ${service.getId()} : '')">
                    <input type="hidden" name="advertiserId" th:value="${user.getId()}">
                    <input type="hidden" name="advertiserName" th:value="${user.getName()}+' '+${user.getSurname()}">
                    <input type="hidden" name="phoneNumber" th:value="${user.getPhone_number()}">

                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text"
                               class="form-control"
                               id="location"
                               name="location"
                               th:value="(${service} != null ? ${service.getLocation()} : '')"
                               required
                               placeholder="Enter Location">
                    </div>
                    <div class="form-group">
                        <label for="subjects">Subjects</label>
                        <input type="text"
                               class="form-control"
                               id="subjects"
                               name="subjects"
                               th:value="(${service} != null ? ${service.getSubjects()} : '')"
                               required
                               placeholder="Enter Your Subjects">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text"
                               class="form-control"
                               id="description"
                               name="description"
                               th:value="(${service} != null ? ${service.getDescription()} : '')"
                               placeholder="Description">
                    </div>

                    <div class="form-group">
                        <label for="educationServiceType">Education Service type</label>
                        <br>
                        <select id ="educationServiceType" name="educationServiceType">
                            <option>Select education service type</option>
                            <option th:if="${service} != null"
                                    th:selected="${#strings.equals(service.getEducationServiceType(),type)}"
                                    th:each="type: ${serviceTypes}"
                                    th:value="${type}"
                                    th:text="${type}"></option>

                            <option th:if="${service} == null"
                                    th:each="type: ${serviceTypes}"
                                    th:value="${type}"
                                    th:text="${type}"></option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text"
                               class="form-control"
                               id="price"
                               name="price"
                               th:value="(${service} != null ? ${service.getPrice()} : '')"
                               placeholder="Price">
                    </div>


                    </br>
                    <button id ="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/trips">Back</a>
                </form>
            </div>
        </div>
    </div>
</section>

<!--<script type="text/javascript">-->
<!--    $(document).ready(function() {-->
<!--        $('#priceSelect').change(function() {-->
<!--            // alert($(this).val())-->
<!--            // console.log($("#priceSelect :selected").val())-->
<!--            // console.log($("#priceInput").text())-->
<!--            if ($(this).val() == 'ON DEMAND' || $(this).val()=='Select price type') {-->
<!--                // console.log("BY DEMAND ORIGINAL")-->
<!--                // console.log($(this).val())-->
<!--                $("#priceInput").prop('disabled',true);-->
<!--            } else {-->
<!--                $("#priceInput").prop('disabled',false);-->
<!--            }-->
<!--        });-->
<!--        $("#form").submit(function (){-->
<!--            $("#priceValue").val($("#priceInput").val() +' '+ $("#priceSelect :selected").val())-->
<!--            alert($("#priceValue").val())-->
<!--        })-->

<!--        -->
<!--    });-->
<!--</script>-->