<section xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/ratings/add-rating" method="POST">
                    <input type="hidden" name="serviceId" th:value="${serviceId}">
                    <input type="hidden" name="userId" th:value="${userId}">
                    <input type="hidden" name="serviceType" th:value="${serviceType}">
                    <h2>Rate this user:</h2>
                    <br>
                    <div class="form-group">
                        <div class="col-md-10">
                            <p>Grade:</p>
                            <select name="rate">
                                <option th:value="1">1</option>
                                <option th:value="2">2</option>
                                <option th:value="3">3</option>
                                <option th:value="4">4</option>
                                <option th:value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Comment:</p>
                        <div class="col-md-10">
                            <input th:type="text" name="comment">
                        </div>
                    </div>
                    <button id ="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/trips">Back</a>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    jQuery(document).ready(function () {
        $("#input-id").rating();
        $('#input-id').on('rating:change', function (event, value, caption) {
            console.log(value);
            $("#rate-value").val(value);

        });

    });

</script>
}