
<section xmlns:th="http://www.thymeleaf.org">
    <div th:if="${hasError}">
        <div th:text="${error}" class="text-danger"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form id="form" action="/foods/add" method="POST">
                    <input type="hidden" name="id" th:value="(${service} != null ? ${service.getId()} : '')">
                    <input type="hidden" name="advertiserId" th:value="${user.getId()}">
                    <input type="hidden" name="advertiserName" th:value="${user.getName()}+' '+${user.getSurname()}">
                    <input type="hidden" name="phoneNumber" th:value="${user.getPhone_number()}">

                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text"
                               class="form-control"
                               id="location"
                               name="location"
                               th:value="(${service} != null ? ${service.getLocation()} : '')"
                               required
                               placeholder="Enter Location">
                    </div>
                    <div class="form-group">
                        <label for="foodServiceType">Food Service Type</label>
                        <input type="text"
                               class="form-control"
                               id="foodServiceType"
                               name="foodServiceType"
                               th:value="(${service} != null ? ${service.getFoodServiceType()} : '')"
                               required
                               placeholder="Enter Food Service Type">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text"
                               class="form-control"
                               id="description"
                               name="description"
                               th:value="(${service} != null ? ${service.getDescription()} : '')"
                               placeholder="Description">
                    </div>

                    <div class="form-group">
                        <label for="priceInput">Price type</label>
                        <br>
                        <input type="text" id="priceInput" disabled>
                        <select id="priceSelect">
                            <option>Select price type</option>
                            <option th:if="${service} != null"
                            th:selected="${#strings.equals(service.getPrice(),priceType)}"
                            th:each="priceType: ${priceTypes}"
                            th:value="${priceType}"
                            th:text="${priceType}"></option>

                            <option th:if="${service} == null"
                                    th:each="priceType: ${priceTypes}"
                                    th:value="${priceType}"
                                    th:text="${priceType}"></option>
                        </select>
                        <input id="priceValue" type="hidden" name="price"/>

                    </div>


                    </br>
                    <button id ="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/trips">Back</a>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function() {
        $('#priceSelect').change(function() {
            if ($(this).val() == 'ON DEMAND' || $(this).val()=='Select price type') {

                $("#priceInput").prop('disabled',true);
            } else {
                $("#priceInput").prop('disabled',false);
            }
        });
        $("#form").submit(function (){
            $("#priceValue").val($("#priceInput").val() +' '+ $("#priceSelect :selected").val())
        })

    });
</script>