
<section xmlns:th="http://www.thymeleaf.org">
    <div th:if="${hasError}">
        <div th:text="${error}" class="text-danger"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/trips/add" method="POST">
                    <input type="hidden" name="id" th:value="(${trip} != null ? ${trip.getId()} : '')">
                    <input type="hidden" name="driverId" th:value="${user.getId()}">
                    <input type="hidden" name="driverName" th:value="${user.getName()}+' '+${user.getSurname()}">
                    <input type="hidden" name="phoneNumber" th:value="${user.getPhone_number()}">

                    <div class="form-group">
                        <label for="fromLocation">From Location</label>
                        <input type="text"
                               class="form-control"
                               id="fromLocation"
                               name="fromLocation"
                               th:value="(${trip} != null ? ${trip.getFromLocation()} : '')"
                               required
                               placeholder="Enter From Location">
                    </div>
                    <div class="form-group">
                        <label for="toLocation">Destination</label>
                        <input type="text"
                               class="form-control"
                               id="toLocation"
                               name="toLocation"
                               th:value="(${trip} != null ? ${trip.getToLocation()} : '')"
                               required
                               placeholder="Enter Destination">
                    </div>
                    <div class="form-group">
                        <label for="departureDate">Departure Date</label>
                        <div class="input-group date">
                            <input type="text" class="form-control"
                                   id="departureDate"
                                   name="departureDate"
                                   autocomplete="off"
                                   th:value="(${trip} != null ? ${trip.getDepartureDate()}: '')"/>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="departureTime">Time:</label>
                        <div class="input-group date" id="event_time">
                            <input type="text" id="departureTime"
                                   name="departureTime"
                                   placeholder="Time"
                                   class="form-control"
                                   th:value="(${trip} != null ? ${trip.getDepartureTime()}: '')"/>
                            <div class="input-group-addon input-group-append">
                                <div class="input-group-text">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text"
                               class="form-control"
                               id="description"
                               name="description"
                               th:value="(${trip} != null ? ${trip.getDescription()} : '')"
                               placeholder="Description">
                    </div>

                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number"
                               class="form-control"
                               id="price"
                               name="price"
                               th:value="(${trip} != null ? ${trip.getPrice()} : '')"
                               placeholder="Price">
                    </div>
                    <div class="form-group">
                        <label for="freeSlots">Free Slots</label>
                        <input type="number"
                               class="form-control"
                               id="freeSlots"
                               name="freeSlots"
                               th:value="(${trip} != null ? ${trip.getFreeSlots()} : '')"
                               placeholder="Free Slots">
                    </div>
    </br>
                    <button id ="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/trips">Back</a>
                </form>
            </div>
        </div>
    </div>
</section>


<script>
    $( function() {
        $( "#departureDate" ).datepicker({dateFormat:'dd/mm/yy'});
        $("#departureTime").timepicker({});
    } );

</script>