<section xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-12" th:if="${craftsmen_pending_approvals.size() == 0}">
            <h2>No pending services!</h2>
        </div>
        <div class="col-12" th:if="${craftsmen_pending_approvals.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Date Created</th>
                        <th scope="col">Advertiser Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Location</th>
                        <th scope="col">Profession</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="craft : ${craftsmen_pending_approvals}">
                        <td th:text="${craft.getDateCreated()}"></td>
                        <td th:text="${craft.getAdvertiserName()}"></td>
                        <td th:text="${craft.getPhoneNumber()}"></td>
                        <td th:text="${craft.getLocation()}"></td>
                        <td th:text="${craft.getProfession()}"></td>
                        <td th:text="${craft.getDescription()}"></td>
                        <td class="text-right">
                            <th:block>
                                <form th:action="@{'/admin/craftsmen_services_approval/approve/{id}' (id=${craft.getId()})}" th:method="POST">
                                    <button type="submit" class="btn btn-sm btn-success"><i
                                            class="fas fa-plus">Approve service</i></button>
                                </form>
                            </th:block>
                            <th:block>
                                <form th:action="@{'/admin/craftsmen_services_approval/delete/{id}' (id=${craft.getId()})}" th:method="POST">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash">Delete service</i></button>
                                </form>
                            </th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-primary" type="button" th:href="@{'/admin'}">Back</a>
    </div>
</section>