<section xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-12" th:if="${trip_pending_approvals.size() == 0}">
            <h2>No pending services!</h2>
        </div>
        <div class="col-12" th:if="${trip_pending_approvals.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Departure Date</th>
                        <th scope="col">Departure Time</th>
                        <th scope="col">Driver Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">From Location</th>
                        <th scope="col">To Location</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Free Slots</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="trip : ${trip_pending_approvals}">
                        <td th:text="${trip.getDepartureDate()}"></td>
                        <td th:text="${trip.getDepartureTime()}"></td>
                        <td th:text="${trip.getDriverName()}"></td>
                        <td th:text="${trip.getPhoneNumber()}"></td>
                        <td th:text="${trip.getFromLocation()}"></td>
                        <td th:text="${trip.getToLocation()}"></td>
                        <td th:text="${trip.getDescription()}"></td>
                        <td th:text="${trip.getPrice()}"></td>
                        <td th:text="${trip.getFreeSlots()}"></td>
                        <td class="text-right">
                            <th:block>
                                <form th:action="@{'/admin/trips_approval/approve/{id}' (id=${trip.getId()})}" th:method="POST">
                                    <button type="submit" class="btn btn-sm btn-success"><i
                                            class="fas fa-plus">Approve service</i></button>
                                </form>
                            </th:block>
                            <th:block>
                                <form th:action="@{'/admin/trips_approval/delete/{id}' (id=${trip.getId()})}" th:method="POST">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fas fa-trash">Delete service</i></button>
                                </form>
                            </th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-primary" type="button" th:href="@{'/admin'}">Back</a>
    </div>
</section>