<section xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-12" th:if="${user_pending_approvals.size() == 0}">
            <h2>No pending users!</h2>
        </div>
        <div class="col-12" th:if="${user_pending_approvals.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name </th>
                        <th scope="col">Surname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Profession</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user_pending : ${user_pending_approvals}">
                        <td th:text="${user_pending.getName()}"></td>
                        <td th:text="${user_pending.getSurname()}"></td>
                        <td th:text="${user_pending.getEmail()}"></td>
                        <td th:text="${user_pending.getProfession()}"></td>
                        <td class="text-right">
                            <th:block>
                                <form th:action="@{'/admin/user_approval/approve/{id}' (id=${user_pending.getId()})}" th:method="POST">
                                    <button type="submit" class="btn btn-sm btn-success"><i
                                            class="fas fa-user-plus">Approve user</i></button>
                                </form>
                            </th:block>
                            <th:block>
                                <form th:action="@{'/admin/user_approval/delete/{id}' (id=${user_pending.getId()})}" th:method="POST">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash">Delete user</i></button>
                                </form>
                            </th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <a class="btn btn-primary" type="button" th:href="@{'/admin'}">Back</a>
        </div>
    </div>
</section>