<section xmlns:th="http://www.thymeleaf.org">
    <table id="usersTable" class="display">

        <thead>
        <tr>
            <th></th>
            <th>Advertiser Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Profession</th>
            <th>Location</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user: ${user_list}">
            <td>
                <img alt="User Profile Image" th:src="'data:image/jpeg;base64,'+${user.getProfileImg()}" style="width: 50px;height: 50px;">
            </td>
            <td th:text="${user.getFullname()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getPhone_number()}"></td>
            <td th:text="${user.getProfession()}"></td>
            <td th:text="${user.getLocation()}"></td>
            <td>
                <div>
                    <a class="btn btn-success" th:href="@{'/user/{id}'(id=${user.getId()})}"><i class="fas fa-info"></i> Info</a>
                </div>
            </td>
            <td>
                <th:block>
                    <form th:action="@{'/admin/user_overview/delete/{id}' (id=${user.getId()})}" th:method="POST">
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="fa fa-trash">Delete user</i></button>
                    </form>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary" type="button" th:href="@{'/admin'}">Back</a>
    </div>
</section>

<script type="text/javascript">
    $(document).ready( function () {
        $('#usersTable').DataTable()});
</script>