<section xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card my-5">
                    <div class="card-body">
                        <h4 class="card-title text-center h5" style="font-weight: bolder">
                            Give Role to User:
                        </h4>
                        <hr>
                        <form action="/admin/give-role-to-user" method="POST">
                            <select name="id">
                                <option th:each="user : ${allUsers}"
                                        th:value="${user.getId()}"
                                        th:text="${user.getFullname()}">
                                </option>
                            </select>
                            <br>
                            <br>
                            <button id ="submit" type="submit" class="btn btn-primary">Submit</button>
                            <a type="button" class="btn btn-primary" href="/admin">Back</a>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>

</section>