<section xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h4 class="card-title text-center h5" style="font-weight: bolder">Manage your web site</h4>
                        <hr>
                        <div class="col text-center card-buttons">
                            <a th:href="@{/admin/user_overview}" class="btn btn-lg btn-success btn-block"><i class="fas fa-info"></i> Manage current users</a>
                            <br>
                            <br>
                            <a th:href="@{/admin/user_approval}" class="btn btn-lg btn-primary btn-block"><i class="fas fa-user-plus"></i> Approve pending users</a>
                            <br>
                            <br>
                            <a th:href="@{/admin/give-role-to-user}" class="btn btn-lg btn-primary btn-block"><i class="fas fa-unlock-alt"></i>Give Admin Role to User</a>
                            <br>
                            <br>
                            <a th:href="@{/admin/trips_approval}" class="btn btn-lg btn-primary btn-block"><i class="fas fa-car"></i> Approve trip services</a>
                            <br>
                            <br>
                            <a th:href="@{/admin/food_services_approval}" class="btn btn-lg btn-primary btn-block"><i class="fas fa-utensils"></i> Approve food services</a>
                            <br>
                            <br>
                            <a th:href="@{/admin/education_services_approval}" class="btn btn-lg btn-primary btn-block"><i class="fas fa-university"></i> Approve education services</a>
                            <br>
                            <br>
                            <a th:href="@{/admin/craftsmen_services_approval}" class="btn btn-lg btn-primary btn-block"><i class="fas fa-tools"></i> Approve craftsmen services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<link rel="stylesheet" href="/css/admin.css">
