<section xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-12" th:if="${education_pending_approvals.size() == 0}">
            <h2>No pending services!</h2>
        </div>
        <div class="col-12" th:if="${education_pending_approvals.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Date Created</th>
                        <th scope="col">Advertiser Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Location</th>
                        <th scope="col">Subject/s</th>
                        <th scope="col">Education Type</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="edu : ${education_pending_approvals}">
                        <td th:text="${edu.getDateCreated()}"></td>
                        <td th:text="${edu.getAdvertiserName()}"></td>
                        <td th:text="${edu.getPhoneNumber()}"></td>
                        <td th:text="${edu.getLocation()}"></td>
                        <td th:text="${edu.getSubjects()}"></td>
                        <td th:text="${edu.getEducationServiceType()}"></td>
                        <td th:text="${edu.getDescription()}"></td>
                        <td th:text="${edu.getPrice()}"></td>
                        <td class="text-right">
                            <th:block>
                                <form th:action="@{'/admin/education_services_approval/approve/{id}' (id=${edu.getId()})}" th:method="POST">
                                    <button type="submit" class="btn btn-sm btn-success"><i
                                            class="fas fa-plus">Approve service</i></button>
                                </form>
                            </th:block>
                            <th:block>
                                <form th:action="@{'/admin/education_services_approval/delete/{id}' (id=${edu.getId()})}" th:method="POST">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash">Delete service</i></button>
                                </form>
                            </th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-primary" type="button" th:href="@{'/admin'}">Back</a>
    </div>
</section>