
<section xmlns:th="http://www.thymeleaf.org">
    <div th:if="${message}" class="alert alert-warning" role="alert">
        <span th:text="${message}" ></span>
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <h4 class="card-title text-center h5" style="font-weight: bolder">User Info</h4>
                    <hr>
                    <div class="form form-horizontal">
                        <div class="form-group text-center">
                            <img alt="User Profile Image" th:src="'data:image/jpeg;base64,'+${advertiser.getProfileImg()}" style="width: 100px;height: 100px;">
                        </div>
                        <hr>

                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                    <p style="font-weight: bold; ">Name: </p>
                            </div>
                            <div class="col-md-auto">
                                <p th:text="${advertiser.getFullname()}"></p>
                            </div>
                            <div class="col-md-auto">
                                    <p style="font-weight: bolder">Job: </p>
                            </div>
                            <div class="col-md-auto">
                                <p th:text="${advertiser.getProfession()}"></p>
                            </div>
                        </div>

                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <p style="font-weight: bold; ">Email: </p>
                            </div>
                            <div class="col-md-auto">
                                <p th:text="${advertiser.getEmail()}"></p>
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <p style="font-weight: bold; ">Phone number: </p>
                            </div>
                            <div class="col-md-auto">
                                <p th:text="${advertiser.getPhone_number()}"></p>
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <p style="font-weight: bold; ">Location: </p>
                            </div>
                            <div class="col-md-auto">
                                <p th:text="${advertiser.getLocation()}"></p>
                            </div>
                        </div>

                        <th:block th:if="${advertiser.getRating()}>0" >
                            <div class="row justify-content-md-center">
                                <div class="col-md-auto">
                                    <p style="font-weight: bold">Rating:</p>
                                </div>
                                <div class="col-md-auto">
                                    <p th:if="${advertiser.getRating()}>0" th:text="${advertiser.getRating()}"></p>
                                </div>
                                <div class="col-md-auto">
                                    <a th:href="@{'/user/{id}/comments' (id=${advertiser.getId()})}">Comments</a>
                                </div>
                            </div>

                        </th:block>

                        <th:block th:unless="${advertiser.getRating()}>0" class="row justify-content-md-center" >
                                <div>
                                    <p>This user has no ratings!</p>
                                </div>
                        </th:block>
                        <div class="text-center">
                            <button class="btn btn-primary" type="button" onclick="history.go(-1);">Back</button>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>
