
<section xmlns:th="http://www.thymeleaf.org">
    <div th:if="${message}" class="alert alert-warning" role="alert">
        <span th:text="${message}" ></span>
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <div class="row">
                        <span class="text-left">
                            <button class="btn btn-primary" type="button" onclick="history.go(-1);">
                                <i class="fas fa-arrow-left"></i>
                            </button>
                            <h4 class="card-title text-center h5" style="font-weight: bolder">User Info</h4>
                        </span>
                    </div>
                    <hr>
                    <div class="form form-horizontal">
                        <div class="form-group text-center">
                            <img alt="User Profile Image" th:src="'data:image/jpeg;base64,'+${advertiser.getProfileImg()}" style="width: 100px;height: 100px;">
                        </div>


                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <p style="font-weight: bold; ">Name: </p>
                            </div>
                            <div class="col-md-auto">
                                <p th:text="${advertiser.getFullname()}"></p>
                            </div>
                            <div class="col-md-auto">
                                <p style="font-weight: bolder">Job: </p>
                            </div>
                            <div class="col-md-auto">
                                <p th:text="${advertiser.getProfession()}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-md-center" th:each="rateComment,iterStat: ${rateComments}">
                            <div class="card w-75">
                                <div class="card-body">
                                    <h5 class="card-title text-center" th:text="Review +' #'+${iterStat.count}+':'"></h5>
                                    <p class="card-text" th:text="Rating+': '+${rateComment.getRate()}"></p>
                                    <p class="card-text" th:text="${rateComment.getComment()}"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
