<div xmlns:th="http://www.thymeleaf.org">
        <th:block th:if="${hasError}">
            <div class="alert alert-danger" role="alert">
                <span th:text="${error}"></span>
            </div>
        </th:block>
    <div class="container">
    <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card">
                    <form class="form-signin mt-xl-5" method="post" action="/user/change-profession">
                        <h2 class="text-center">Select your profession</h2>
                        <input type="hidden" name="id" th:value="${user.getId()}">
                        <div class="text-center">
                        <select name="profession">
                            <option th:each="state : ${T(com.findyourservice.model.enumerations.JobProfession).values()}"
                                    th:value="${state}"
                                    th:text="${state}">
                            </option>
                        </select>

                        <button class="btn btn-primary btn-block" type="submit">Submit</button>

                        </div>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a th:href="@{/user}" class="btn btn-primary">Back</a>
                    <div>
                        <br><br>
                </div>
            </div>
        </div>
    </div>
</div>