<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <th:block th:if="${hasError}">
            <div class="alert alert-danger" role="alert">
                <span th:text="${error}"></span>
            </div>
        </th:block>
        <form class="form-signin mt-xl-5" method="post" action="/user/change-password">
            <h2 class="form-signin-heading">Change your password</h2>

            <p>
                <label for="oldPassword" class="sr-only">Type your old password</label>
                <input type="password"
                       id="oldPassword"
                       name="oldPassword"
                       class="form-control"
                       placeholder="Old Password"
                       required="" autofocus="">
            </p>
            <p>
                <label for="newPassword" class="sr-only">Type your new password</label>
                <input type="password"
                       id="newPassword"
                       name="newPassword"
                       class="form-control"
                       placeholder="New Password"
                       required="" autofocus="">
            </p>

            <p>
                <label for="repeatedPassword" class="sr-only">Repeat your new password</label>
                <input type="password"
                       id="repeatedPassword"
                       name="repeatedPassword"
                       class="form-control"
                       placeholder="Repeat your new Password"
                       required="" autofocus="">
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
            <a class="btn btn-lg btn-primary btn-block"  th:href="@{/user}">Back</a>

        </form>
    </div>
</div>