<section xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1>Current Craftsmen Services Table</h1>
    <table id="servicesTable" class="display">

        <!-- Header Table -->
        <thead>
        <tr>
            <th>Date Created</th>
            <th>Advertiser Name</th>
            <th>Phone Number</th>
            <th>Location</th>
            <th>Profession</th>
            <th>Description</th>
            <th>Price</th>
            <th:block sec:authorize="isAuthenticated()">
                <th></th>
                <th></th>
            </th:block>
        </tr>
        </thead>

        <tbody>
        <tr th:each="craft: ${user_craftsmen}" >
            <td th:text="${craft.getDateCreated()}"></td>
            <td>
                <a th:href="@{'/user/{id}'(id=${craft.getAdvertiserId()})}" th:text="${craft.getAdvertiserName()}"></a>
            </td>
            <td th:text="${craft.getPhoneNumber()}"></td>
            <td th:text="${craft.getLocation()}"></td>
            <td th:text="${craft.getProfession()}"></td>
            <td th:text="${craft.getDescription()}"></td>
            <td th:text="${craft.getPrice()}"></td>

            <th:block sec:authorize="isAuthenticated()">
                <td>
                    <th:block th:if="${#strings.equals(user.getId(),craft.getAdvertiserId())}">
                        <div>
                            <a th:href="@{'/craftsmen/edit-form/{id}' (id=${craft.getId()})}"
                               class="btn btn-sm btn-info edit-product"><i class="fas fa-edit">Edit</i></a>
                        </div>
                        <div>
                            <a th:href="@{'/craftsmen/advertiser-service-info/{id}'(id=${craft.getId()})}"
                               class="btn btn-sm btn-success edit-product"><i class="fas fa-info">Info</i></a>
                        </div>
                        <div>
                            <form th:action="@{'/craftsmen/delete/{id}' (id=${craft.getId()})}" th:method="POST">
                                <button type="submit" class="btn btn-sm btn-danger delete-product"><i
                                        class="fa fa-trash">Delete</i></button>
                            </form>
                        </div>
                    </th:block>
                    <th:block th:unless="${#strings.equals(user.getId(),craft.getAdvertiserId())}">
                        <div>
                            <a th:href="@{'/craftsmen/customers-service-info/{id}'(id=${craft.getId()})}"
                               class="btn btn-sm btn-success edit-product"><i class="fas fa-info">Details</i></a>

                        </div>
                    </th:block>
                </td>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <td>
                    <th:block th:if="${#strings.equals(user.getId(),craft.getAdvertiserId())}">
                        <div>
                            <a th:href="@{'/craftsmen/add-client/{id}' (id=${craft.getId()})}"
                               class="btn btn-sm btn-info edit-product"><i class="fas fa-user-plus">Add Client</i></a>
                        </div>
                        <div>
                            <form th:action="@{'/craftsmen/finish-craftsmen-service/{id}' (id=${craft.getId()})}" th:method="POST">
                                <button type="submit" class="btn btn-sm delete-product" style="background-color: #01579B"><i
                                        class="fas fa-flag">Finish service</i></button>
                            </form>
                        </div>
                    </th:block>
                    <!--                <th:block th:unless="${#strings.equals(user.getId(),trip.getDriverId())}">-->
                    <!--                    -->
                    <!--                </th:block>-->
                </td>
            </th:block>
        </tr>

        </tbody>
    </table>


</section>
