<section xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">



    <table id="servicesTable" class="display">

        <!-- Header Table -->
        <thead>
        <tr>
            <th>Departure Date</th>
            <th>Departure Time</th>
            <th>Driver Name</th>
            <th>Phone Number</th>
            <th>From Location</th>
            <th>To Location</th>
            <th>Description</th>
            <th>Price</th>
            <th>Free Slots</th>
            <th:block sec:authorize="isAuthenticated()">
                <th></th>
                <th></th>
            </th:block>
        </tr>
        </thead>

        <tbody>
        <tr th:each="trip: ${user_trips}" }>
            <td th:text="${trip.getDepartureDate()}"></td>
            <td th:text="${trip.getDepartureTime()}"></td>
            <td>
                <a th:href="@{'/user/{id}'(id=${trip.getDriverId()})}" th:text="${trip.getDriverName()}"></a>
            </td>
            <td th:text="${trip.getPhoneNumber()}"></td>
            <td th:text="${trip.getFromLocation()}"></td>
            <td th:text="${trip.getToLocation()}"></td>
            <td th:text="${trip.getDescription()}"></td>
            <td th:text="${trip.getPrice()}"></td>
            <td th:text="${trip.getFreeSlots()}"></td>

            <th:block sec:authorize="isAuthenticated()">
                <td>
                    <th:block th:if="${#strings.equals(user.getId(),trip.getDriverId())}">
                        <div>
                            <a th:href="@{'/trips/edit-form/{id}' (id=${trip.getId()})}"
                               class="btn btn-sm btn-info edit-product"><i class="fas fa-edit">Edit</i></a>
                        </div>
                        <div>
                            <a th:href="@{'/trips/driver-trip-info/{id}'(id=${trip.getId()})}"
                               class="btn btn-sm btn-success edit-product"><i class="fas fa-info">Info</i></a>
                        </div>
                        <div>
                            <form th:action="@{'/trips/delete/{id}' (id=${trip.getId()})}" th:method="POST">
                                <button type="submit" class="btn btn-sm btn-danger delete-product"><i
                                        class="fa fa-trash">Delete</i></button>
                            </form>
                        </div>
                    </th:block>
                    <th:block th:unless="${#strings.equals(user.getId(),trip.getDriverId())}">
                        <div>
                            <a th:href="@{'/trips/customers-trip-info/{id}'(id=${trip.getId()})}"
                               class="btn btn-sm btn-success edit-product"><i class="fas fa-info">Details</i></a>

                        </div>
                    </th:block>
                </td>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <td>
                    <th:block th:if="${#strings.equals(user.getId(),trip.getDriverId())}">
                        <div>
                            <a th:href="@{'/trips/add-passenger/{id}' (id=${trip.getId()})}"
                               class="btn btn-sm btn-info edit-product"><i class="fas fa-user-plus">Add Passenger</i></a>
                        </div>
                        <div>
                            <form th:action="@{'/trips/finish-trip/{id}' (id=${trip.getId()})}" th:method="POST">
                                <button type="submit" class="btn btn-sm delete-product" style="background-color: #01579B"><i
                                        class="fas fa-flag">Finish trip</i></button>
                            </form>
                        </div>
                    </th:block>
                </td>
            </th:block>
        </tr>

        </tbody>
    </table>
</section>