<section xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1>Educations Table</h1>


    <table id="servicesTable" class="display">

        <!-- Header Table -->
        <thead>
        <tr>
            <th>Date Created</th>
            <th>Advertiser Name</th>
            <th>Phone Number</th>
            <th>Location</th>
            <th>Subject/s</th>
            <th>Education Type</th>
            <th>Description</th>
            <th>Price</th>
            <th:block sec:authorize="isAuthenticated()">
                <th></th>
                <th></th>
            </th:block>
        </tr>
        </thead>

        <tbody>
        <tr th:each="edu: ${user_educations}" >
            <td th:text="${edu.getDateCreated()}"></td>
            <td>
                <a th:href="@{'/user/{id}'(id=${edu.getAdvertiserId()})}" th:text="${edu.getAdvertiserName()}"></a>
            </td>
            <td th:text="${edu.getPhoneNumber()}"></td>
            <td th:text="${edu.getLocation()}"></td>
            <td th:text="${edu.getSubjects()}"></td>
            <td th:text="${edu.getEducationServiceType()}"></td>
            <td th:text="${edu.getDescription()}"></td>
            <td th:text="${edu.getPrice()}"></td>

            <th:block sec:authorize="isAuthenticated()">
                <td>
                    <th:block th:if="${#strings.equals(user.getId(),edu.getAdvertiserId())}">
                        <div>
                            <a th:href="@{'/educations/edit-form/{id}' (id=${edu.getId()})}"
                               class="btn btn-sm btn-info edit-product"><i class="fas fa-edit">Edit</i></a>
                        </div>
                        <div>
                            <a th:href="@{'/educations/advertiser-service-info/{id}'(id=${edu.getId()})}"
                               class="btn btn-sm btn-success edit-product"><i class="fas fa-info">Info</i></a>
                        </div>
                        <div>
                            <form th:action="@{'/educations/delete/{id}' (id=${edu.getId()})}" th:method="POST">
                                <button type="submit" class="btn btn-sm btn-danger delete-product"><i
                                        class="fa fa-trash">Delete</i></button>
                            </form>
                        </div>
                    </th:block>
                    <th:block th:unless="${#strings.equals(user.getId(),edu.getAdvertiserId())}">
                        <div>
                            <a th:href="@{'/educations/customers-service-info/{id}'(id=${edu.getId()})}"
                               class="btn btn-sm btn-success edit-product">
                                <i class="fas fa-info">Details</i></a>
                        </div>
                    </th:block>
                </td>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <td>
                    <th:block th:if="${#strings.equals(user.getId(),edu.getAdvertiserId())}">
                        <div>
                            <a th:href="@{'/educations/add-client/{id}' (id=${edu.getId()})}"
                               class="btn btn-sm btn-info edit-product"><i class="fas fa-user-plus">Add Client</i></a>
                        </div>
                        <div>
                            <form th:action="@{'/educations/finish-education-service/{id}' (id=${edu.getId()})}" th:method="POST">
                                <button type="submit" class="btn btn-sm delete-product" style="background-color: #01579B"><i
                                        class="fas fa-flag">Finish trip</i></button>
                            </form>
                        </div>
                    </th:block>
                </td>
            </th:block>
        </tr>

        </tbody>
    </table>


</section>
