<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <th:block th:if="${hasError}">
            <div class="alert alert-danger" role="alert">
                <span th:text="${error}"></span>
            </div>
        </th:block>
        <form class="form-signin mt-xl-5" method="post" action="/user/edit-info" enctype="multipart/form-data">
            <h2 class="form-signin-heading">Edit your information</h2>

            <p>
                <label for="name" class="sr-only">Name</label>
                <input type="text"
                       id="name"
                       name="name"
                       th:value="(${user} != null ? ${user.getName()}:'')"
                       class="form-control"
                       placeholder="Name"
                       required="" autofocus="">
            </p>
            <p>
                <label for="surname" class="sr-only">Surname</label>
                <input type="text"
                       id="surname"
                       name="surname"
                       th:value="(${user} != null ? ${user.getSurname()}:'')"
                       class="form-control"
                       placeholder="Surname"
                       required="" autofocus="">
            </p>


            <p>
                <label for="phone_number" class="sr-only">Phone Number</label>
                <input type="text"
                       id="phone_number"
                       name="phone_number"
                       th:value="(${user} != null ? ${user.getPhone_number()}:'')"
                       class="form-control"
                       placeholder="Phone Number"
                       required="" autofocus="">
            </p>

            <p>
                <label for="city" class="sr-only">City</label>
                <input type="text"
                       id="city"
                       name="city"
                       th:value="(${user} != null ? ${user.getCity()}:'')"
                       class="form-control"
                       placeholder="City"
                       required="" autofocus="">
            </p>
            <p>
                <label for="country" class="sr-only">Country</label>
                <input type="text"
                       id="country"
                       name="country"
                       th:value="(${user} != null ? ${user.getCountry()}:'')"
                       class="form-control"
                       placeholder="Country"
                       required="" autofocus="">
            </p>

            <p>
                <label class="custom-file-label"
                       for="customFile">Product Image</label>

                <input type="file" name="file" class="custom-file-input" accept="image/jpeg,image/png"
                       id="customFile">
            </p>


            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            <button class="btn btn-lg btn-primary btn-block"  th:href="@{/user}">Back</button>

        </form>
    </div>
</div>