<section xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <h4 class="card-title text-center h5" style="font-weight: bolder">
                        Food service details:
                    </h4>
                    <hr>

                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <p style="font-weight: bold; ">Advertiser name: </p>
                        </div>
                        <div class="col-md-auto">
                            <p th:text="${service.getAdvertiserName()}"></p>
                        </div>
                    </div>

                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <p style="font-weight: bold; ">Phone number: </p>
                        </div>
                        <div class="col-md-auto">
                            <p th:text="${service.getPhoneNumber()}"></p>
                        </div>
                    </div>

                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <p style="font-weight: bold; ">Food Service Type: </p>
                        </div>
                        <div class="col-md-auto">
                            <p th:text="${service.getFoodServiceType()}"></p>
                        </div>
                    </div>

                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <p style="font-weight: bold; ">Description: </p>
                        </div>
                        <div class="col-md-auto">
                            <p th:text="${service.getDescription()}"></p>
                        </div>
                    </div>

                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <p style="font-weight: bold; ">Price:</p>
                        </div>
                        <div class="col-md-auto">
                            <p th:text="${service.getPrice()}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button class="btn btn-primary" type="button" onclick="history.go(-1);">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
