<section xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1>Food Services Table</h1>

    <div th:if="${message}" class="alert alert-warning" role="alert">
        <span th:text="${message}" ></span>
    </div>

    <th:block sec:authorize="isAuthenticated()">
        <th:block th:if="${#strings.equals(user.getProfession(),'CHEF')}">
            <a th:href="@{'/foods/add'}"
               class="btn btn-sm btn-success"><i class="fas fa-user-plus">Add Food Service</i></a>
        </th:block>
        <th:block th:if="${#strings.equals(user.getProfession(),'WAITER')}">
            <a th:href="@{'/foods/add'}"
               class="btn btn-sm btn-success"><i class="fas fa-plus">Add Food Service</i></a>
        </th:block>
    </th:block>

    <table id="servicesTable" class="display">

        <thead>
        <tr>
            <th>Date Created</th>
            <th>Advertiser Name</th>
            <th>Phone Number</th>
            <th>Location</th>
            <th>Food Service Type</th>
            <th>Description</th>
            <th>Price</th>
            <th:block sec:authorize="isAuthenticated()">
                <th></th>
                <th></th>
            </th:block>
        </tr>
        </thead>

        <tbody>
        <tr th:each="food: ${foods}">
            <td th:text="${food.getDateCreated()}"></td>
            <td>
                <a th:href="@{'/user/{id}'(id=${food.getAdvertiserId()})}" th:text="${food.getAdvertiserName()}"></a>
            </td>
            <td th:text="${food.getPhoneNumber()}"></td>
            <td th:text="${food.getLocation()}"></td>
            <td th:text="${food.getFoodServiceType()}"></td>
            <td th:text="${food.getDescription()}" style="max-width:200px; word-wrap:break-word;"></td>
            <td th:text="${food.getPrice()}"></td>

            <th:block sec:authorize="isAuthenticated()">
                <td>
                    <th:block th:if="${#strings.equals(user.getId(),food.getAdvertiserId())}">
                        <div>
                            <a th:href="@{'/foods/edit-form/{id}' (id=${food.getId()})}"
                               class="btn btn-sm btn-info edit-product"><i class="fas fa-edit">Edit</i></a>
                        </div>
                        <div>
                            <a th:href="@{'/foods/advertiser-service-info/{id}'(id=${food.getId()})}"
                               class="btn btn-sm btn-success"><i class="fas fa-info">Info</i></a>
                        </div>
                        <div>
                            <form th:action="@{'/foods/delete/{id}' (id=${food.getId()})}" th:method="POST">
                                <button type="submit" class="btn btn-sm btn-danger delete-product"><i
                                        class="fa fa-trash">Delete</i></button>
                            </form>
                        </div>
                    </th:block>
                    <th:block th:unless="${#strings.equals(user.getId(),food.getAdvertiserId())}">
                        <div>
                            <a th:href="@{'/foods/customers-service-info/{id}'(id=${food.getId()})}"
                               class="btn btn-sm btn-success"><i class="fas fa-info">Details</i></a>
                        </div>
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <form th:action="@{'/foods/delete/{id}' (id=${food.getId()})}" th:method="POST">
                                <button type="submit" class="btn btn-sm btn-danger delete-product"><i
                                        class="fa fa-trash">Delete</i></button>
                            </form>
                        </th:block>
                    </th:block>
                </td>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <td>
                    <th:block th:if="${#strings.equals(user.getId(),food.getAdvertiserId())}">
                        <div>
                            <a th:href="@{'/foods/add-client/{id}' (id=${food.getId()})}"
                               class="btn btn-sm btn-info"><i class="fas fa-user-plus">Add Client</i></a>
                        </div>
                        <div>
                            <form th:action="@{'/foods/finish-food-service/{id}' (id=${food.getId()})}" th:method="POST">
                                <button type="submit" class="btn btn-sm" style="background-color: #01579B"><i
                                        class="fas fa-flag">Finish Service</i></button>
                            </form>
                        </div>
                    </th:block>
                </td>
            </th:block>
        </tr>
        </tbody>
    </table>
</section>
