<section xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <h4 class="card-title text-center h5" style="font-weight: bolder">
                        Food service details:
                    </h4>
                    <hr>

                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <p style="font-weight: bold; ">Food Service Type: </p>
                        </div>
                        <div class="col-md-auto">
                            <p th:text="${service.getFoodServiceType()}"></p>
                        </div>
                    </div>

                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <p style="font-weight: bold; ">Description: </p>
                        </div>
                        <div class="col-md-auto">
                            <p th:text="${service.getDescription()}"></p>
                        </div>
                    </div>

                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <p style="font-weight: bold; ">Price:</p>
                        </div>
                        <div class="col-md-auto">
                            <p th:text="${service.getPrice()}"></p>
                        </div>
                    </div>

                    <div class="row justify-content-md-center">
                        <form th:action="@{'/foods/delete-client'}" th:method="POST">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <input type="hidden" name="id" th:value="${service.getId()}">
                                    <input type="hidden" name="advertiserId" th:value="${service.getAdvertiserId()}">

                                    <select id="dropdown" name="clientId" >
                                        <option value="">--SELECT CLIENT--</option>
                                        <option th:each="client : ${service.getFoodClients()}"
                                                th:value="${client.getId()}"
                                                th:text="${client.getName()}+' '+${client.getSurname()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <button id ="submit" type="submit" class="btn btn-danger" disabled>Delete selected client</button>
                        </form>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button class="btn btn-primary" type="button" onclick="history.go(-1);">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function() {
        $('#dropdown').change(function() {
            if ($(this).val() == 0) {
                $("#submit").attr("disabled", true);
            } else {
                $("#submit").attr("disabled", false);
            }
        });
    });
</script>