<section xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1>History Educations Table</h1>



    <table id="servicesTable" class="display">

        <!-- Header Table -->
        <thead>
        <tr>
            <th>Date Created</th>
            <th>Advertiser Name</th>
            <th>Phone Number</th>
            <th>Location</th>
            <th>Subject/s</th>
            <th>Education Type</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="edu: ${user_educations}" >
            <td th:text="${edu.getDateCreated()}"></td>
            <td>
                <a th:href="@{'/user/{id}'(id=${edu.getAdvertiserId()})}" th:text="${edu.getAdvertiserName()}"></a>
            </td>
            <td th:text="${edu.getPhoneNumber()}"></td>
            <td th:text="${edu.getLocation()}"></td>
            <td th:text="${edu.getSubjects()}"></td>
            <td th:text="${edu.getEducationServiceType()}"></td>
            <td th:text="${edu.getDescription()}"></td>
            <td th:text="${edu.getPrice()}"></td>
            <td>
                <th:block th:unless="${#lists.contains(user_ratings, edu.getId()) || user.getId()==edu.getAdvertiserId()}">
                    <a class="btn btn-warning" id="ratings" th:href="@{'/ratings/{serviceId}&{advertiserId}'(serviceId=${edu.getId()},advertiserId=${edu.getAdvertiserId()})}">Add Rating</a>
                </th:block>
            </td>
        </tr>

        </tbody>
    </table>


</section>
<script>
    $(function () {
        var a_element = document.getElementById("ratings");
        var link = a_element.getAttribute("href")
        console.log(link)
        a_element.setAttribute("href",link+"&EDUCATION")
    });
</script>