<section xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


    <table id="servicesTable" class="display">

        <!-- Header Table -->
        <thead>
        <tr>
            <th>Departure Date</th>
            <th>Departure Time</th>
            <th>Driver Name</th>
            <th>Phone Number</th>
            <th>From Location</th>
            <th>To Location</th>
            <th>Description</th>
            <th>Price</th>
            <th>Free Slots</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="trip: ${user_trips}">
            <td th:text="${trip.getDepartureDate()}"></td>
            <td th:text="${trip.getDepartureTime()}"></td>
            <td>
                <a th:href="@{'/user/{id}'(id=${trip.getDriverId()})}" th:text="${trip.getDriverName()}"></a>
            </td>
            <td th:text="${trip.getPhoneNumber()}"></td>
            <td th:text="${trip.getFromLocation()}"></td>
            <td th:text="${trip.getToLocation()}"></td>
            <td th:text="${trip.getDescription()}"></td>
            <td th:text="${trip.getPrice()}"></td>
            <td th:text="${trip.getFreeSlots()}"></td>

            <td>
                <th:block th:unless="${#lists.contains(user_ratings, trip.getId()) || user.getId()==trip.getDriverId()}">
                <a class="btn btn-warning" id="ratings" th:href="@{'/ratings/{serviceId}&{advertiserId}'(serviceId=${trip.getId()},advertiserId=${trip.getDriverId()})}">Add Rating</a>
                </th:block>
            </td>
        </tr>

        </tbody>
    </table>
</section>

<script>
    $(function () {
        var a_element = document.getElementById("ratings");
        var link = a_element.getAttribute("href")
        console.log(link)
        a_element.setAttribute("href",link+"&TRIP")
    });
</script>