<section xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1>History Food Services Table</h1>


    <table id="servicesTable" class="display">

        <thead>
        <tr>
            <th>Date Created</th>
            <th>Advertiser Name</th>
            <th>Phone Number</th>
            <th>Location</th>
            <th>Food Service Type</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="food: ${user_foods}">
            <td th:text="${food.getDateCreated()}"></td>
            <td>
                <a th:href="@{'/user/{id}'(id=${food.getAdvertiserId()})}" th:text="${food.getAdvertiserName()}"></a>
            </td>
            <td th:text="${food.getPhoneNumber()}"></td>
            <td th:text="${food.getLocation()}"></td>
            <td th:text="${food.getFoodServiceType()}"></td>
            <td th:text="${food.getDescription()}"></td>
            <td th:text="${food.getPrice()}"></td>
            <td>
                <th:block th:unless="${#lists.contains(user_ratings, food.getId()) || user.getId()==food.getAdvertiserId()}">
                    <a class="btn btn-warning" id="ratings" th:href="@{'/ratings/{serviceId}&{advertiserId}'(serviceId=${food.getId()},advertiserId=${food.getAdvertiserId()})}">Add Rating</a>
                </th:block>
            </td>

        </tr>

        </tbody>
    </table>


</section>
<script>
    $(function () {
        var a_element = document.getElementById("ratings");
        var link = a_element.getAttribute("href")
        console.log(link)
        a_element.setAttribute("href",link+"&FOOD")
    });
</script>