<section xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1>History Craftsmen Services Table</h1>


    <table id="servicesTable" class="display">

        <!-- Header Table -->
        <thead>
        <tr>
            <th>Date Created</th>
            <th>Advertiser Name</th>
            <th>Phone Number</th>
            <th>Location</th>
            <th>Profession</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="craft: ${user_craftsmen}" >
            <td th:text="${craft.getDateCreated()}"></td>
            <td>
                <a th:href="@{'/user/{id}'(id=${craft.getAdvertiserId()})}" th:text="${craft.getAdvertiserName()}"></a>
            </td>
            <td th:text="${craft.getPhoneNumber()}"></td>
            <td th:text="${craft.getLocation()}"></td>
            <td th:text="${craft.getProfession()}"></td>
            <td th:text="${craft.getDescription()}"></td>
            <td th:text="${craft.getPrice()}"></td>
            <td>
                <th:block th:unless="${#lists.contains(user_ratings, craft.getId()) || user.getId()==craft.getAdvertiserId()}">
                    <a class="btn btn-warning" id="ratings" th:href="@{'/ratings/{serviceId}&{advertiserId}'(serviceId=${craft.getId()},advertiserId=${craft.getAdvertiserId()})}">Add Rating</a>
                </th:block>
            </td>
        </tr>

        </tbody>
    </table>


</section>
<script>
    $(function () {
        var a_element = document.getElementById("ratings");
        var link = a_element.getAttribute("href")
        console.log(link)
        a_element.setAttribute("href",link+"&CRAFTSMEN")
    });
</script>