<section class="jumbotron text-center" xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<body>
    <div class="container">
        <br>
        <h1 class="jumbotron-heading">FIND YOUR SERVICE</h1>
        <br>
        <br>
       <div class="container">
        <div class="row" >
            <div class="col-sm-6">
                <div class="card">
                    <a href="/trips" class="btn text-secondary"><i class="fas fa-car fa-10x"></i></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <a href="/educations" class="btn text-secondary"><i class="fas fa-university fa-10x "></i></a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <a href="/foods" class="btn text-secondary"><i class="fas fa-utensils fa-10x"></i></a>
                </div>
            </div>
            <div class="col-sm-6">

                    <div class="card">
                        <a href="/craftsmen" class="btn text-secondary"> <i class="fas fa-tools fa-10x"></i>
                        </a>
                    </div>

            </div>

        </div>
           </div>
    </div>
</body>
</section>

<link rel="stylesheet" href="/css/home.css">
