<section xmlns:th="http://www.thymeleaf.org">

    <th:block th:if="${hasError}">
        <div class="alert alert-danger" role="alert">
            <span th:text="${error}"></span>
        </div>
    </th:block>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center h5"  style="color: white; font-weight: bold">Sign In</h5>
                    <form class="form-signin" method="post" action="/login">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
                            <label for="inputEmail">Email address</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control"  name="password"  placeholder="Password" required>
                            <label for="inputPassword">Password</label>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                        </div>
                        <hr class="my-4">
                        <div class="text-center">
                            <a class="btn btn-lg btn-google btn-block text-uppercase text-center" th:href="@{/oauth2/authorization/google}"><i class="fab fa-google mr-2"></i> Sign in with Google</a>
                            <a class="btn btn-lg btn-facebook btn-block text-uppercase text-center" th:href="@{/oauth2/authorization/facebook}"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</a>
                            <hr class="my-4">
                            <a class="btn btn-lg btn-success btn-block text-uppercase text-center" th:href="@{/register}">Register</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</section>

<link rel="stylesheet" href="/css/login.css">




