<div xmlns:th="http://www.thymeleaf.org">
<div class="container">
    <th:block th:if="${hasError}">
    <div class="alert alert-danger" role="alert">
        <span th:text="${error}"></span>
    </div>
    </th:block>
    <form class="form-signin mt-xl-5" method="post" action="/register" enctype="multipart/form-data">
        <h2 class="form-signin-heading">Register</h2>
        <p>
            <label for="email" class="sr-only">E-mail</label>
            <input type="text"
                   id="email"
                   name="email"
                   class="form-control"
                   placeholder="e-mail"
                   required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>
        <p>
            <label for="repeatedPassword" class="sr-only">Repeat Password</label>
            <input type="password" id="repeatedPassword" name="repeatedPassword" class="form-control" placeholder="Repeat Password" required="">
        </p>
        <p>
            <label for="name" class="sr-only">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="" autofocus="">
        </p>
        <p>
            <label for="surname" class="sr-only">Surname</label>
            <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required="" autofocus="">
        </p>


        <p>
            <label for="phone_number" class="sr-only">Phone Number</label>
            <input type="text" id="phone_number" name="phone_number" class="form-control" placeholder="Phone Number" required="" autofocus="">
        </p>

        <p>
            <label for="city" class="sr-only">City</label>
            <input type="text" id="city" name="city" class="form-control" placeholder="City" required="" autofocus="">
        </p>
        <p>
            <label for="country" class="sr-only">Country</label>
            <input type="text" id="country" name="country" class="form-control" placeholder="Country" required="" autofocus="">
        </p>

        <p>
            <input type="file" name="file" class="custom-file-input" accept="image/jpeg,image/png"
                   id="customFile"> <label class="custom-file-label"
                                           for="customFile">Product Image</label>
        </p>


        <select name="profession">
            <option th:each="state : ${T(com.findyourservice.model.enumerations.JobProfession).values()}"
                    th:value="${state}"
                    th:text="${state}">
            </option>
        </select>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
    <a href="/login" class="btn btn-block btn-light">Already have an account? Login here!</a>
</div>
</div>