<section xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <h4 class="card-title text-center h5" style="font-weight: bolder">
                        Driver trip details:
                    </h4>

                    <h5 th:text="${trip.getFromLocation()}+'-'+${trip.getToLocation()}+' at '+${trip.getDepartureTime()}+' on '+${trip.getDepartureDate()}"></h5>
                    <hr>


                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <p style="font-weight: bold; ">Description: </p>
                        </div>
                        <div class="col-md-auto">
                            <p th:text="${trip.getDescription()}"></p>
                        </div>
                    </div>

                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <p style="font-weight: bold; ">Price: </p>
                        </div>
                        <div class="col-md-auto">
                            <p th:text="${trip.getPrice()}"></p>
                        </div>
                    </div>

                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <p style="font-weight: bold; ">Free slots: </p>
                        </div>
                        <div class="col-md-auto">
                            <p th:text="${trip.getFreeSlots()}"></p>
                        </div>
                    </div>

                    <div class="row justify-content-md-center">
                        <form th:action="@{'/trips/delete-passenger'}" th:method="POST">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <input type="hidden" name="id" th:value="${trip.getId()}">
                                    <input type="hidden" name="driverId" th:value="${trip.getDriverId()}">

                                    <select name="passengerId">
                                        <option value="None"></option>
                                        <option th:each="user : ${trip.getPassengers()}"
                                                th:value="${user.getId()}"
                                                th:text="${user.getName()}+' '+${user.getSurname()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <button id ="submit" type="submit" class="btn btn-danger">Delete selected passenger</button>
                        </form>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button class="btn btn-primary" type="button" onclick="history.go(-1);">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
