<section xmlns:th="http://www.thymeleaf.org">
    <div th:if="${message}" class="alert alert-warning" role="alert">
        <span th:text="${message}" ></span>
    </div>

    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <h4 class="card-title text-center h5" style="font-weight: bolder">User Info</h4>
                    <hr>
                    <div class="form form-horizontal text-center">
                        <div class="form-group">
                            <img alt="User Profile Image" th:src="'data:image/jpeg;base64,'+${user.getProfileImg()}" style="width: 100px;height: 100px;">
                        </div>

                        <label for="email">Email:</label>
                        <input type="text" id="email" class="form-control col-md-auto text-center" th:value="${user.getEmail()}" readonly/>

                        <label for="Name">Name:</label>
                        <input id="Name" class="form-control col-md-auto text-center" th:value="${user.getName()+' '+user.getSurname()}" readonly>

                        <label for="phoneNumber">Phone number:</label>
                        <input id="phoneNumber" class="form-control col-md-auto text-center" th:value="${user.getPhone_number()}" readonly/>


                        <label for="profession">Profession:</label>
                        <input id="profession" class="form-control col-md-auto text-center" th:value="${user.getProfession()}" readonly>

                        <label for="city">City:</label>
                        <input id="city" class="form-control col-md-auto text-center"  th:value="${user.getCity()}" readonly>


                        <label for="country">Country:</label>
                        <input id="country" class="form-control col-md-auto text-center" th:value="${user.getCountry()}" readonly>

                        <hr>
                        <a class="btn btn-lg btn-primary btn-block"  th:href="@{/user/edit-info}">Edit info</a>
                        <a class="btn btn-lg btn-primary btn-block"  th:href="@{/user/change-password}">Change password</a>
                        <a class="btn btn-lg btn-primary btn-block" th:if="${user.getProfession() == null}" th:href="@{/user/change-profession}">Change profession</a>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
